.feature-section {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
}

.feature-lists {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  color: #555;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 25%;
    padding: 0 15px;
    & img {
      max-width: 100%;
    }
    h3 {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  &__title {
    padding-top: 16px;
  }

  &__content {
    color: #333;
    padding: 16px 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 991px) and (min-width: 768px) {
  .feature-lists {
    max-width: 720px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) {
  .feature-lists {
    max-width: 540px;
    flex-direction: column;
    align-items: center;

    &__item {
      max-width: 100%;
    }
  }
}
