/* header - nav */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 1rem;
  box-shadow: 0 0 0.3125rem #b0a0ad;
}

.logo-link {
  display: flex;
}

.logo-link img {
  width: 100%;
  padding: 0 1rem;
}

.navbar {
  display: flex;
  color: #777;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
}

.navbar__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 1.25rem;
  padding: 0.825rem;
  text-align: center;
  cursor: pointer;
  & > i {
    margin: 0 5px;
  }
  &:hover {
    color: #d90845;
  }
  p {
    margin: 0;
  }
}

.navbar__items_fake-tag {
  position: relative;

  &::after {
    content: '報名優惠中';
    display: inline-block;
    background-color: #cd3151;
    padding: 2px 5px 1px;
    margin-left: 5px;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 400;
    color: white;
    transition-duration: 5s;
    animation: wobble-ver-left 1.5s infinite both;
  }
}

@keyframes wobble-ver-left {
  0%,
  100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateY(-6px) rotate(-1deg);
  }

  30% {
    transform: translateY(3.75px) rotate(1deg);
  }

  45% {
    transform: translateY(-6px) rotate(-0.8deg);
  }

  60% {
    transform: translateY(2px) rotate(0.6deg);
  }

  75% {
    transform: translateY(-1px) rotate(-0.3deg);
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) {
  header {
    padding: 0 0;
  }
  .nav-toggler {
    display: flex;
    position: relative;
    background-color: #d90845;
    width: 4.5rem;
    height: 100%;
    & > .icon-bar {
      position: absolute;
      left: 1rem;
      top: 50%;
      width: 2.5rem;
      border: 0.1rem solid #fff;
      border-radius: 0.0625rem;
    }
    & > .icon-bar:first-child {
      top: calc(50% - 0.5rem);
    }
    & > .icon-bar:last-child {
      top: calc(50% + 0.5rem);
    }
  }
  .navbar {
    & .navbar__items {
      display: none;
    }
  }
  .navbar-actived {
    & .navbar__items {
      display: flex;
      opacity: 1;
    }
    & .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0;
      margin-top: 70px;
      width: 100vw;
      z-index: 2;
      background-color: #fff;
      border: 1px ridge;
      box-shadow: 0 0.2rem 0.3125rem #e6e6e6;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 991px) and (min-width: 768px) {
  header {
    padding: 0 0;
  }
  .navbar__items {
    font-size: 90%;
    padding: 0.5rem;
  }

  .nav-toggler {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .nav-toggler {
    display: none;
  }
}
